page-login {
    
    .forgot-password{
        margin: 0 auto;
        background:transparent;
        color:gray;
        text-decoration: underline;
        text-align: center;
    }
    
    .password{
        width: 100%;
    }
}
