page-settings {
  ion-avatar img{
    width: 100% !important;
    height: 100% !important;
    max-width: 100px !important;
    max-height: 100px !important;
    margin: 0 auto;
    border: 1px solid white;
  }

  .delete-user{
    position:absolute;
    bottom: 0;
    width:100%;
  }

  .delete-user button{
    color:red;
    border:1px solid red;
  }

}
